/* Page styles */


header{
	margin-top: 10px;
}
.row{
	margin-bottom: 20px;
	border-radius: 5px;
}

card-title{
	font-weight:bold; font-size:20px; color: white
}
.logo{
	display: block;
	text-align: center;
	margin-bottom: 20px;
}
.menu{
	display: block;
	margin-bottom: 20px;
}
.menu ul{
	list-style-type: none;
}
.menu li{
	display: inline;
	margin-left: 20px;
	margin-left: 20px;
}
.titre{
	font-weight: bold;
	margin: 10px 10px 10px 10px;
	color: #3d4465;
}
p{
	text-indent: 20px;
}
.center{
	text-align: center;
}

/* SVG styles */

/*Style pour Treemap*/
form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
	font: 10px sans-serif;
}

/*Style pour stacked bar chart*/
svg {
	font: 10px sans-serif;
	shape-rendering: geometricPrecision;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
}

path.domain {
	stroke: none;
}

.y .tick line {
	stroke: #ddd;
}

label {
	display: block;
}


.link {
	stroke: rgb(17, 15, 15);
	stroke-width: 3px;
	stroke-width: 1.5px;
	stroke-opacity:  0.6;
}

.node {
	fill: rgb(201, 219, 216);
	stroke: #999;
	stroke-width: 1.5px;
	stroke-opacity:  0.6;
	fill-opacity:2;
}


.node:hover {
	fill: red;
}

div.tooltip {
	color: #222;
	background-color: #fff;
	padding: .5em;
	text-shadow: #f5f5f5 0 1px 0;
	border-radius: 2px;
	border-width: 1px;
	opacity: 0.9;
	font-size:15px;
	position: absolute;
}

.axis--grid .domain {
	fill: #ddd;
	stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
	stroke: #fff;
}

.axis--grid .tick--minor line {
	stroke-opacity: .5;
}

/*Style pour Treemap*/
form {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
}
path.domain {
	stroke: none;
}
.y .tick line {
	stroke: #ddd;
}

label {
	display:block;	
}

/* Style pour Heatmap */

rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;   
}

text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
	fill: #aaa;
}

text.axis-workweek {
	fill: #000;
}

text.axis-worktime {
	fill: #000;	
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 200px;
    vertical-align: top;
    overflow: hidden;
}

.slider_container {
    display: inline-block;
    position: relative;
	height: 100px;
	width: 100%;
    padding-bottom: 100px;
    vertical-align: top;
    overflow: hidden;
}


html { font-size: 80.5%; } 

body {
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 400;
	  fill: #8C8C8C;
	  text-align: center;
}

.timeLabel, .dayLabel {
	font-size: 1.6rem;
	fill: #AAAAAA;
	font-weight: 300;
}

text.axis-workweek, text.axis-worktime {
	fill: #404040;
	font-weight: 400;
}

.title {
	font-size: 2.8rem;
	fill: #4F4F4F;
	font-weight: 300;
}

.subtitle {
	font-size: 1.4rem;
	fill: #AAAAAA;
	font-weight: 300;
}
  
.credit {
	font-size: 1.2rem;
	fill: #AAAAAA;
	font-weight: 400;
}

.axis path, .axis tick, .axis line {
	  fill: none;
	  stroke: none;
  }

text {
	  font-size: 1.2rem;
	  fill: #AAAAAA;
	  font-weight: 400;
}

.legendTitle {
	  font-size: 1.6rem;
	  fill: #4F4F4F;
	  font-weight: 300;
}